<div id="<%= dom_id additional_information %>">
  <p>
    <strong>Information:</strong>
    <%= additional_information.information %>
  </p>

  <p>
    <strong>Faithful:</strong>
    <%= additional_information.faithful_id %>
  </p>

</div>
