<h1>Editing additional information</h1>

<%= render "form", additional_information: @additional_information %>

<br>

<div>
  <%= link_to "Show this additional information", @additional_information %> |
  <%= link_to "Back to additional information", additional_informations_path %>
</div>
