<p style="color: green"><%= notice %></p>

<h1>Additional information</h1>

<div id="additional_informations">
  <% @additional_informations.each do |additional_information| %>
    <%= render additional_information %>
    <p>
      <%= link_to "Show this additional information", additional_information %>
    </p>
  <% end %>
</div>

<%= link_to "New additional information", new_additional_information_path %>
