<h1>New additional information</h1>

<%= render "form", additional_information: @additional_information %>

<br>

<div>
  <%= link_to "Back to additional information", additional_informations_path %>
</div>
