<p style="color: green"><%= notice %></p>

<h1>Faithfuls</h1>

<div id="faithfuls">
  <% @faithfuls.each do |faithful| %>
    <%= render faithful %>
    <p>
      <%= link_to "Show this faithful", faithful %>
    </p>
  <% end %>
</div>

<%= link_to "New faithful", new_faithful_path %>
