<div id="<%= dom_id neighborhood %>">
  <p>
    <strong>Name:</strong>
    <%= neighborhood.name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= neighborhood.state_id %>
  </p>

  <p>
    <strong>City:</strong>
    <%= neighborhood.city_id %>
  </p>

</div>
